<h1>Read Posts</h1>

<div class="search-user">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search the post for title" (input)="searchPosts()">
</div>

<div class="container-list-post">
  <div *ngIf="searchTerm">
    <div *ngFor="let post of filteredPosts; let i = index" class="list-posts" [ngClass]="{'black-bg': i % 2 === 0, 'blue-bg': i % 2 !== 0}">
      <p class="content-post"><span class="title">ID:</span> {{post.id}}</p>
      <p class="content-post"><span class="title">User_id:</span> {{post.user_id}}</p>
      <p class="content-post"><span class="title">Title:</span> {{post.title}}</p>
      <p class="content-post"><span class="title">Body:</span> {{post.body}}</p>
    </div>
  </div>

  <div *ngIf="!searchTerm">
    <div *ngFor="let post of posts; let i = index" class="list-posts" [ngClass]="{'black-bg': i % 2 === 0, 'blue-bg': i % 2 !== 0}">
      <p class="content-post"><span class="title">ID:</span> {{post.id}}</p>
      <p class="content-post"><span class="title">User_id:</span> {{post.user_id}}</p>
      <p class="content-post"><span class="title">Title:</span> {{post.title}}</p>
      <p class="content-post"><span class="title">Body:</span> {{post.body}}</p>
    </div>
  </div>
</div>

<div class="pagination">
  <button class="previous" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span class="page">{{ currentPage }}</span>
  <button class="next" (click)="nextPage()">Next</button>
</div>

<span class="loader" *ngIf="isLoading"></span>